<ion-item lines="none" class="text-lg py-3">
  <ion-label class="mr-4">Min Price</ion-label>
  <ion-input type="number" [(ngModel)]="minPrice" class="text-lg py-2"></ion-input>
</ion-item>
<ion-item lines="none" class="text-lg py-3">
  <ion-label class="mr-4">Max Price</ion-label>
  <ion-input type="number" [(ngModel)]="maxPrice" class="text-lg py-2"></ion-input>
</ion-item>
<ion-item lines="none" class="text-lg py-3">

  <ion-select label="Type" [(ngModel)]="typeFilter">
    <ion-select-option value="">All </ion-select-option>
    <ion-select-option value="Class">Class</ion-select-option>
    <ion-select-option value="Workshop">Workshop</ion-select-option>
    <ion-select-option value="Sport">Sport</ion-select-option>
  </ion-select>

</ion-item>
<ion-item lines="none" class="text-lg py-3">
  
  <ion-label class="mr-4">Location</ion-label>
  <ion-input type="text" [(ngModel)]="locationFilter" class="text-lg py-2"></ion-input>
</ion-item>
<ion-button expand="block" (click)="applyFilters()" class="text-lg py-3 px-6">Apply</ion-button>
