<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../../assets/img/logoNav.png" alt="Logo">
  </div>

  <h2 class="ion-text-center ion-margin-top ion-text-bold">
    Sign Up
  </h2>

  <form #signUpForm="ngForm" (ngSubmit)="register()">
    <ion-item lines="full">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input [(ngModel)]="signUpData.displayName" name="firstName" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input  name="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input  name="password" type="{{showPassword ? 'text' : 'password'}}" required></ion-input>
      <ion-icon slot="end" name="{{showPassword ? 'eye-off' : 'eye'}}" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!signUpForm.valid">
      <ion-label>Sign Up</ion-label>
      <ion-spinner *ngIf="registering" name="dots" color="primary" slot="end"></ion-spinner>
    </ion-button>
  </form>

  <p class="ion-text-center ion-padding-top">
    Already have an account? <a routerLink="/sign-in">Sign in</a>
  </p>
</ion-content>
