<ion-content>

  <h2 class="pt-6" >Discover More</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <div style="display: inline-block;">
            <img src="../../../assets/img/restaurant.jpeg" alt="Image 1" style="height: 250px; object-fit: cover;">
          </div>
          <ion-card-header>
            <ion-card-title>Restaurants</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/activities">
          <div style="display: inline-block;">
            <img src="../../../assets/img/activities.jpeg" alt="Image 2" style="height: 250px; object-fit: cover;">
          </div>
          <ion-card-header>
            <ion-card-title>Activities</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <div style="display: inline-block;">
            <img src="../../../assets/img/transportation.jpeg" alt="Image 3" style="height: 250px; object-fit: cover;">
          </div>
          <ion-card-header>
            <ion-card-title>Transportation</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card >
          <div style="display: inline-block;">
            <img src="../../../assets/img/accommodation.jpeg" alt="Image 4" style="height: 250px; object-fit: cover;">
          </div>
          <ion-card-header>
            <ion-card-title>Lodging</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
