<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>topDestinations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top Destinations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let destination of destinations">
      <div [routerLink]="'destinations/' + destination?.name"  class="relative">
        <img [src]="destination.image" alt="{{ destination.name }}" class="w-full h-40 object-cover rounded-lg shadow-2xl">
        <div class="absolute inset-x-0 bottom-0 bg-black bg-opacity-50 text-white p-2 rounded-b-lg">
          <h3 class="text-sm">{{ destination.name }}</h3>
          <p class="text-xs">{{ destination.cities }} destinations</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
