<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home </ion-title>
    </ion-toolbar>
  </ion-header>

 <app-services> </app-services>

<!--
 <ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button (click)="openChatbot()">
    <ion-icon name="chatbox" style="color: white;"></ion-icon>
  </ion-fab-button>

</ion-fab>-->
<df-messenger
  intent="WELCOME"
  chat-title="chatbot"
  agent-id="b1f764c0-760d-4bb5-85f6-53a3561792d8"
  language-code="en">
</df-messenger>

</ion-content>
