h1 {
    font-size: 1.5rem; /* Example size, adjust as needed */
    font-weight: bold;
  }
  
  h4 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--ion-color-medium); /* Using an Ionic color variable */
  }