<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgot-pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../../../assets/img/logoNav.png" alt="Logo">
  </div>


  <form>
   

    <ion-item lines="full">
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input  name="email" required></ion-input>
    </ion-item>
  </form>

  <p class="ion-text-center ion-padding-top">
    Back? <a routerLink="/sign-in">Sign in </a>
  </p>
</ion-content>
