<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Travel Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center">
        <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
        <h1 class="mb-5 text-primary">Meet Our Guide</h1>
      </div>

      <ng-container *ngIf="guiders$ | async as guiders">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="3" *ngFor="let guider of guiders">
              <ion-card [routerLink]="['/guider', guider.user.uid, 'details']">
                <ion-card-content>
                  <ion-item lines="none" class="no-spacing">
                    <ion-avatar slot="start">
                      <img [src]="guider.user.profilePicture" alt="{{ guider.user.displayName }}">
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ guider.user.displayName }}</h2>
                      <p>{{ guider.user.email }}</p>
                    </ion-label>
                  </ion-item>
                  <div class="info-item no-spacing">
                    <ion-icon name="call-outline"></ion-icon>
                    <span class="label">Phone</span>
                    <span class="value">{{ guider.user.phone }}</span>
                  </div>
                  <div class="info-item no-spacing">
                    <ion-icon name="mail-outline"></ion-icon>
                    <span class="label">Email</span>
                    <span class="value">{{ guider.user.email }}</span>
                  </div>
                  <div class="info-item no-spacing">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <span class="label">Social Media</span>
                    <span class="value">
                      <ion-buttons>
                        <ion-button *ngIf="guider.user.instaUrl" href="{{ guider.user.instaUrl }}" target="_blank">
                          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
                        </ion-button>
                        <!-- Add other social media links similarly -->
                      </ion-buttons>
                    </span>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </div>
  </div>
</ion-content>
