<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activities</ion-title>
    <!-- Add filter icon button -->
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="presentFilterPopover($event)">Filter
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterActivities()" placeholder="Search by activity name"></ion-searchbar>

  <ion-item>
    <ion-label>Sort By</ion-label>
    <ion-select [(ngModel)]="selectedSortOption" (ionChange)="sortActivities()">
      <ion-select-option value="price-low-high">Price: Low to High</ion-select-option>
      <ion-select-option value="price-high-low">Price: High to Low</ion-select-option>
      <ion-select-option value="name-a-z">Name: A-Z</ion-select-option>
      <ion-select-option value="name-z-a">Name: Z-A</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let activity of filteredActivities" class="max-w-sm mx-3 bg-white rounded-xl shadow-md overflow-hidden">
      <div class="relative">
        <img [src]="activity.Image" alt="{{ activity.Activity }}" class="w-full h-56 object-cover">
        <ion-icon 
        name="heart" 
        class="absolute top-4 right-4 text-3xl"
        [ngClass]="{'text-red-500': favoriteStatus[activity.id], 'text-green-500': !favoriteStatus[activity.id]}"
        (click)="toggleFavorite(activity)"></ion-icon>
          </div>
      <div class="p-4 space-y-1">
        <h2 class="text-lg font-semibold text-gray-900">{{ activity.Activity }}</h2>
        <p class="text-sm text-gray-500"><ion-icon name="map-outline"></ion-icon> {{ activity.Place }}</p>
        <p class="text-sm text-gray-500"><ion-icon name="pin-outline"></ion-icon> {{ activity.City }}, {{ activity.District }}</p>
        <p class="text-sm text-gray-500"><ion-icon name="time-outline"></ion-icon> {{ activity.Session_Duration }} hours</p>
        <p class="text-sm text-gray-500"><ion-icon name="cash-outline"></ion-icon> {{ activity.Price }}</p>
        <div class="flex justify-between items-center">
          <ion-button fill="clear" href="{{ activity.Link }}" target="_blank">
            <ion-icon slot="start" name="link-outline"></ion-icon>
            More Info
          </ion-button>
          <!-- Additional UI elements can be added here -->
        </div>
      </div>
    </ion-card>
  </ion-list>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
